// Place all the styles related to the Doors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//colors
$color_gallery_approx: #db0c00;
$white_0: rgba(255, 255, 255, .0);
$white_50: rgba(255, 255, 255, 0.5);
$color_solitaire_approx: #fcf8e3;
$color_papaya_whip_approx: #fbeed5;
$black: #000;

body {
  background-color: $color_gallery_approx;
}
.container {
  margin: 0 auto;
  width: 90%;
}
.perspective {
  background: url("http://dc428.4shared.com/img/QWu4ziBq/s3/doorBorder.png");
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  display: inline;
  float: left;
  height: 274px;
  width: 147px;
  margin: 20px;
  margin-left: 50%;
  //Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
  border-radius: 3px;
  //Instead of the line below you could use @includebox-sizing($bs)
  box-sizing: border-box;
}
.thumb {
  background: url("http://dc428.4shared.com/img/-vayshJ-/s3/ClassDoor.png");
  background-repeat: no-repeat;
  background-position: center center;
  width: 147px;
  height: 274px;
  position: absolute;
  //Instead of the line below you could use @includebox-sizing($bs)
  box-sizing: border-box;
  //Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
  border-radius: 3px;
  //Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  box-shadow: 0 0 0 10px $white_0 inset;
  //Instead of the line below you could use @includetransition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
  transition: 1s transform linear;
  //Instead of the line below you could use @includetransform-origin($origin-x, $origin-y, $origin-z, $only3d)
  transform-origin: left;
  cursor: pointer;
}
.thumbOpened {
  border: 20px solid green;
  //Instead of the line below you could use @includetransform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
  transform: rotateY(-90deg);
  //Instead of the line below you could use @includetransform-origin($origin-x, $origin-y, $origin-z, $only3d)
  transform-origin: 8px;
  //Instead of the line below you could use @includetransition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
  transition: .5s linear;
}
.alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  //Instead of the line below you could use @includetext-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  text-shadow: 0 1px 0 $white_50;
  background-color: $color_solitaire_approx;
  border: 1px solid $color_papaya_whip_approx;
  //Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
  border-radius: 4px;
  color: $black;
  //Instead of the line below you could use @includetransform-origin($origin-x, $origin-y, $origin-z, $only3d)
  transform-origin: left;
  //Instead of the line below you could use @includetransform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
  transform: rotateY(180deg);
  opacity: 0;
  animation-name: go;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
  width: 350px;
}
@keyframes go {
  100% {
    opacity: 1;
    //Instead of the line below you could use @includetransform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform: rotateY(0deg);
  }
}
.door-commands{
  text-align: center;
}
